<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soirée année 80</title>
</head>
<body>
<div id="email-footer" class="row">
    <div class="col-md-12 bg-primary py-4 rounded text-center">
        <h3 class="text-white font-weight-bold text-uppercase">🎉 Rappel : Soirée année 80 🎉</h3>
        <p class="text-light font-weight-bold h5 text-decoration-underline mb-0">
            Salle des fêtes - 16a rue des Vosges - Hoenheim
        </p>
        <p class="text-white font-weight-bold">
            <span class="text-info text-decoration-underline">Samedi 1 Juillet 2023</span> -
            <span class="text-info text-decoration-underline">À partir de 18H30</span>
        </p>
        <p class="text-white font-weight-bold">
            Il y aura des tartes flambées et une petite restauration sur place.
        </p>
        <p><a href="https://reservation.hoenheimsports.club">Lien vers le site de la soirée année 80</a></p>
    </div>
</div>
<div class="section-divider"></div>
<div class="row">
    <div class="col-md-12">
        <p>Cordialement,</p>
        <p>L'équipe de la soirée année 80</p>
    </div>
</div>
</body>
</html>