<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="email-header">
    <div class="row align-items-center">
        <div class="col-md-12 my-4 text-center">
            <img
                    src="https://reservation.hoenheimsports.club/assets/img/logo.png"
                    alt="Logo"
                    width="100"
                    class="mr-3"
            />
            <h1 class="d-inline-block align-middle">Soirée année 80</h1>
            <hr class="mx-auto" style="width: 60%; border-top: 2px solid gray"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-primary pt-4 rounded">

            <h2 class="text-white font-weight-bold">Bonjour,</h2>
            <p class="text-white font-weight-bold pl-3">Cette email concerne la reservation <span class="text-decoration-underline">[[${reservation.id}]]</span> de <span class="text-decoration-underline">[[${reservation.name}]]</span> </p>
            <p class="text-white font-weight-bold pl-3" th:text="${isCreation} ?
            'Nous sommes heureux de vous informer que votre réservation a bien été enregistrée pour la soirée année 80.'
            : 'Une modification a été effectuée sur votre réservation ou paiement !'"></p>
        </div>
    </div>
    <div class="section-divider"></div>
</div>
</body>
</html>
