
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="email-body">

    <div class="alert" th:classappend="${nextState.equals('CANCELED')} ? 'alert-danger' :
                (${nextState.equals('ACCEPTED')} ? 'alert-success' :
                (${nextState.equals('PENDING')} ? 'alert-warning' :
                (${nextState.equals('ONGOING')} ? 'alert-info' : '')))" role="alert">
        <h3 class="mb-0">L'état de votre reservation est passé de <em>[[${previousStateFrench}]]</em> à <em>[[${nextStateFrench}]]</em></h3>
    </div>
    <p th:if="${nextState.equals('CANCELED')}">Cause de l'annulation : [[${reservation.cancelMessage}]] </p>
    <p>Vous pouvez retrouver à tout moment les details de votre réservation <a th:href="@{'https://reservation.hoenheimsports.club/reservation/ma-reservation/' + ${reservation.id}}">à ce lien</a></p>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td align="center">
                Vous trouverez les dernières infos sur nos réseaux
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://fb.me/e/SSBPyODB" class="facebook-button">
                    Soirée année 80
                    <img width="32" src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/I92GqZOkKcu.png" height="32" style="border:0" >
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://www.instagram.com/as_hoenheim_sports/" class="instagram-button">
                    <img height="30" src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/Otjcwa2eCOF.png" style="border:0">
                </a>
            </td>
        </tr>
    </table>
    <div class="section-divider"></div>
</div>
</body>
</html>
</body>
</html>